body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.idCardBox {
  
}

.dice-container img {
  width: 100px;
  height: auto;
}

.numbers-table {
  display: flex;
  flex-wrap: wrap;
  max-width: 510px;
}

.number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
}

.red-box {
  background-color: red;
}

.facebook-card {
  background-color: white;
}

.selected-facebook-card {
  background-color: lightblue;
}